/* General */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('assets/photos/rain on pine.jpg');
  background-size: cover;
  background-position: center;
}

/* Header */

.title-bar {
  position: fixed;
  width: auto;
  height: 140px;
  right: 0;
  margin-top: 1vh;
  margin-right: 1vh;
  background-color: #2C2C2C;
  border-top: solid transparent;
  border-left: solid transparent;
  border-right: solid transparent;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 20px;
}

.webpage-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  color: #2C6B4F;
  background-color: transparent;
  margin: 1vh;
  text-align: right;
  flex: 1;
}

.navigation-bar {
  position: fixed;
  width: auto;
  height: 70px;
  left: 0;
  background-color: #2C2C2C;
  border-top: solid transparent;
  border-left: solid transparent;
  border-right: solid transparent;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 20px;
}

.navigation-menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #2C6B4F;
  background-color: transparent;
  margin: 1vh;
  display: flex;
  gap: 1vh;
  text-align: right;
}

.main-body {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  position: absolute;
  width: calc(100% - 2vh);
  height: auto;
  background-color: #2C2C2C;
  border-top: solid transparent;
  border-left: solid transparent;
  border-right: solid transparent;
  z-index: 0;
  border-radius: 20px;
  color: #2C6B4F;
  top: 180px;
  left: 1vh;
  right: 1vh;
  box-sizing: border-box;
  padding-top: 1vh;
  padding-left: 5%;
  text-align: left;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none; /* Hidden by default */
  font-size: 30px;
  color: #2C6B4F;
  cursor: pointer;
  position: absolute;
  right: 1vh;
}

/* Media Query for Screens Smaller Than 720px */
@media (max-width: 1280px) {
  .hamburger-menu {
    display: block; /* Show the hamburger menu icon */
  }

  .navigation-menu {
    display: none; /* Hidden by default */
    }  

  .navigation-menu.show {
    display: flex; /* Show the navigation bar when 'show' class is added */
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    top: 0;
    right: 0;
    transform: translateX(0);
    margin-left: 14vh;
    background-color: #2C6B4F;
    color: #2C2C2C;
    width: 20vh;
    z-index: 2;
    gap: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
  }
}